@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&family=Roboto+Condensed&display=swap');

body {
    font-family: 'Roboto', sans-serif;
   
    background-repeat: no-repeat;
   background-size: cover;
    
}
*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration:none ;
}
.form{
    text-align: center;
    margin: 30%;
    
}